{% extends "apti/apti_base.html" %}

{% block topic_title %}Quantitative Aptitude{% endblock %}

{% block problems %}
    <tr data-problem-id="q1">
        <td>1</td>
        <td>Time and Work</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="q2">
        <td>2</td>
        <td>Time, Speed and Distance</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="q3">
        <td>3</td>
        <td>Percentages</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="q4">
        <td>4</td>
        <td>Profit and Loss</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="q5">
        <td>5</td>
        <td>Simple Interest</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="q6">
        <td>6</td>
        <td>Compound Interest</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="q7">
        <td>7</td>
        <td>Ratio and Proportion</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="q8">
        <td>8</td>
        <td>Averages</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="q9">
        <td>9</td>
        <td>Mixtures and Alligations</td>
        <td>Hard</td>
    </tr>
    <tr data-problem-id="q10">
        <td>10</td>
        <td>Probability</td>
        <td>Hard</td>
    </tr>
{% endblock %}
