{% extends "apti/apti_base.html" %}

{% block topic_title %}Number System{% endblock %}

{% block problems %}
    <tr data-problem-id="n1">
        <td>1</td>
        <td>Number Series</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="n2">
        <td>2</td>
        <td>LCM and HCF</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="n3">
        <td>3</td>
        <td>Divisibility Rules</td>
        <td>Easy</td>
    </tr>
    <tr data-problem-id="n4">
        <td>4</td>
        <td>Prime Numbers</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="n5">
        <td>5</td>
        <td>Decimal Fractions</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="n6">
        <td>6</td>
        <td>Square Roots</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="n7">
        <td>7</td>
        <td>Cube Roots</td>
        <td>Medium</td>
    </tr>
    <tr data-problem-id="n8">
        <td>8</td>
        <td>Number Properties</td>
        <td>Hard</td>
    </tr>
    <tr data-problem-id="n9">
        <td>9</td>
        <td>Remainders</td>
        <td>Hard</td>
    </tr>
    <tr data-problem-id="n10">
        <td>10</td>
        <td>Factorization</td>
        <td>Hard</td>
    </tr>
{% endblock %}
