{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Stacks and Queues{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Valid Parentheses</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Implement Stack using Arrays</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Queue Implementation</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Stack using Queues</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Queue using Stacks</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Min Stack Design</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Circular Queue</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Next Greater Element</td>
        <td>Medium</td>
    </tr>
{% endblock %}