{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Recursion and Backtracking{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/program-for-factorial-of-a-number/" target="_blank" rel="noopener noreferrer">Factorial using Recursion</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/program-for-nth-fibonacci-number/" target="_blank" rel="noopener noreferrer">Fibonacci Series</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/print-all-combinations-of-balanced-parentheses/" target="_blank" rel="noopener noreferrer">Generate Parentheses</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/subset-sum-problem-dp-25/" target="_blank" rel="noopener noreferrer">Subset Sum Problem</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/n-queen-problem-backtracking-3/" target="_blank" rel="noopener noreferrer">N-Queens Problem</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/rat-in-a-maze-backtracking-2/" target="_blank" rel="noopener noreferrer">Rat in a Maze</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/word-search-using-backtracking-2/" target="_blank" rel="noopener noreferrer">Word Search</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/write-a-c-program-to-print-all-permutations-of-a-given-string/" target="_blank" rel="noopener noreferrer">Permutations</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="https://www.geeksforgeeks.org/combinations-with-repetitions/" target="_blank" rel="noopener noreferrer">Combinations</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="https://www.geeksforgeeks.org/sudoku-backtracking-7/" target="_blank" rel="noopener noreferrer">Sudoku Solver</a></td>
        <td>Hard</td>
    </tr>
{% endblock %}
