{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Bit Manipulation{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/count-set-bits-in-an-integer/" target="_blank" rel="noopener noreferrer">Count Set Bits</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/c-program-to-check-if-a-given-number-is-power-of-two/" target="_blank" rel="noopener noreferrer">Power of Two</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/find-the-element-that-appears-once/" target="_blank" rel="noopener noreferrer">Single Number</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/bit-difference-between-two-numbers/" target="_blank" rel="noopener noreferrer">Bit Difference</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/find-the-missing-number/" target="_blank" rel="noopener noreferrer">Missing Number</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/power-set-using-bitwise-operators/" target="_blank" rel="noopener noreferrer">Power Set</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/copy-set-bits-in-a-range/" target="_blank" rel="noopener noreferrer">Copy Set Bits</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/divide-two-integers-without-using-multiplication-division-mod-operator/" target="_blank" rel="noopener noreferrer">Divide Two Integers</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="https://www.geeksforgeeks.org/maximum-xor-of-two-numbers-in-an-array/" target="_blank" rel="noopener noreferrer">Maximum XOR of Two Numbers</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="https://www.geeksforgeeks.org/minimum-xor-sum-two-arrays/" target="_blank" rel="noopener noreferrer">Minimum XOR Sum of Two Arrays</a></td>
        <td>Hard</td>
    </tr>
{% endblock %}
