{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Searching and Sorting{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Binary Search Implementation</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>First and Last Position in Sorted Array</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Search in Rotated Sorted Array</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Merge Sort Implementation</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Quick Sort Implementation</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Kth Largest Element</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Sort Colors (Dutch National Flag)</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Merge K Sorted Arrays</td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Count Inversions</td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Median of Two Sorted Arrays</td>
        <td>Hard</td>
    </tr>
{% endblock %}