{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Stacks and Queues{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/check-for-balanced-parentheses-in-an-expression/" target="_blank" rel="noopener noreferrer">Valid Parentheses</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/stack-data-structure-introduction-program/" target="_blank" rel="noopener noreferrer">Implement Stack using Arrays</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/queue-set-1introduction-and-array-implementation/" target="_blank" rel="noopener noreferrer">Queue Implementation</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/implement-stack-using-queue/" target="_blank" rel="noopener noreferrer">Stack using Queues</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/implement-a-queue-using-stack/" target="_blank" rel="noopener noreferrer">Queue using Stacks</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/design-and-implement-special-stack-data-structure/" target="_blank" rel="noopener noreferrer">Min Stack Design</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/circular-queue-set-1-introduction-array-implementation/" target="_blank" rel="noopener noreferrer">Circular Queue</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/next-greater-element/" target="_blank" rel="noopener noreferrer">Next Greater Element</a></td>
        <td>Medium</td>
    </tr>
{% endblock %}
