{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Basic Programming{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Print Hello World</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sum of Two Numbers</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Check if a Number is Prime</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Calculate Factorial</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Print Fibonacci Series</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Check if a Number is Armstrong</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Find GCD of Two Numbers</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Check if a String is Palindrome</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Print Pattern</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Calculate Power of a Number</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Convert Decimal to Binary</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Find LCM of Two Numbers</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Check Perfect Number</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Print Prime Numbers in Range</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Calculate Sum of Digits</td>
        <td>Easy</td>
    </tr>
{% endblock %}

