{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Linked Lists{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/reverse-a-linked-list/" target="_blank" rel="noopener noreferrer">Reverse a Linked List</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/detect-loop-in-a-linked-list/" target="_blank" rel="noopener noreferrer">Detect Loop in Linked List</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/write-a-c-function-to-print-the-middle-of-the-linked-list/" target="_blank" rel="noopener noreferrer">Find Middle of Linked List</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/remove-nth-node-from-end-linked-list/" target="_blank" rel="noopener noreferrer">Remove Nth Node from End</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/merge-two-sorted-linked-lists/" target="_blank" rel="noopener noreferrer">Merge Two Sorted Lists</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/add-two-numbers-represented-by-linked-lists/" target="_blank" rel="noopener noreferrer">Add Two Numbers as Lists</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/intersection-of-two-sorted-linked-lists/" target="_blank" rel="noopener noreferrer">Intersection of Two Lists</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/check-if-a-linked-list-is-palindrome/" target="_blank" rel="noopener noreferrer">Palindrome Linked List</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="https://www.geeksforgeeks.org/remove-duplicates-from-a-sorted-linked-list/" target="_blank" rel="noopener noreferrer">Remove Duplicates</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="https://www.geeksforgeeks.org/rotate-a-linked-list/" target="_blank" rel="noopener noreferrer">Rotate List</a></td>
        <td>Medium</td>
    </tr>
{% endblock %}
