{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Dynamic Programming{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/program-for-nth-fibonacci-number/" target="_blank" rel="noopener noreferrer">Fibonacci Number</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/count-ways-reach-nth-stair/" target="_blank" rel="noopener noreferrer">Climbing Stairs</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/0-1-knapsack-problem-dp-10/" target="_blank" rel="noopener noreferrer">0/1 Knapsack Problem</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/longest-common-subsequence-dp-4/" target="_blank" rel="noopener noreferrer">Longest Common Subsequence</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/longest-increasing-subsequence-dp-3/" target="_blank" rel="noopener noreferrer">Longest Increasing Subsequence</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/edit-distance-dp-5/" target="_blank" rel="noopener noreferrer">Edit Distance</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/coin-change-dp-7/" target="_blank" rel="noopener noreferrer">Coin Change Problem</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/matrix-chain-multiplication-dp-8/" target="_blank" rel="noopener noreferrer">Matrix Chain Multiplication</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="https://www.geeksforgeeks.org/subset-sum-problem-dp-25/" target="_blank" rel="noopener noreferrer">Subset Sum Problem</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="https://www.geeksforgeeks.org/cutting-a-rod-dp-13/" target="_blank" rel="noopener noreferrer">Rod Cutting Problem</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>11</td>
        <td><a href="https://www.geeksforgeeks.org/palindrome-partitioning-dp-17/" target="_blank" rel="noopener noreferrer">Palindrome Partitioning</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>12</td>
        <td><a href="https://www.geeksforgeeks.org/maximum-sum-increasing-subsequence-dp-14/" target="_blank" rel="noopener noreferrer">Maximum Sum Increasing Subsequence</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>13</td>
        <td><a href="https://www.geeksforgeeks.org/egg-dropping-puzzle-dp-11/" target="_blank" rel="noopener noreferrer">Egg Dropping Puzzle</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>14</td>
        <td><a href="https://www.geeksforgeeks.org/word-break-problem-dp-32/" target="_blank" rel="noopener noreferrer">Word Break Problem</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>15</td>
        <td><a href="https://www.geeksforgeeks.org/minimum-cost-path-left-right-bottom-moves-allowed/" target="_blank" rel="noopener noreferrer">Minimum Path Sum</a></td>
        <td>Medium</td>
    </tr>
{% endblock %}
