{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Greedy Algorithms{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Activity Selection</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Fractional Knapsack</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Job Sequencing</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Minimum Coins</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Huffman Coding</td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Maximum Meetings in a Room</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Gas Station</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Jump Game</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Task Scheduler</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Minimum Platforms</td>
        <td>Hard</td>
    </tr>
{% endblock %}