{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Arrays and Strings{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Reverse an array</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Find maximum and minimum in an array</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Find kth smallest element</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Sort array of 0s, 1s, and 2s</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Move negative elements to one side</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Find union and intersection of arrays</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Rotate array by one position</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Find largest sum contiguous subarray</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Minimize maximum difference between heights</td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Find duplicate number in array</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Merge two sorted arrays</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Count pairs with given sum</td>
        <td>Medium</td>
    </tr>
{% endblock %}
