{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Basic Programming{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/c-program-hello-world/" target="_blank" rel="noopener noreferrer">Print Hello World</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/program-to-add-two-fractions/" target="_blank" rel="noopener noreferrer">Sum of Two Numbers</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/c-program-to-check-prime-number/" target="_blank" rel="noopener noreferrer">Check if a Number is Prime</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/c-program-for-factorial-of-a-number/" target="_blank" rel="noopener noreferrer">Calculate Factorial</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/program-for-nth-fibonacci-number/"target="_blank" rel="noopener noreferrer">Print Fibonacci Series</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/program-for-armstrong-numbers/"target="_blank" rel="noopener noreferrer">Check if a Number is Armstrong</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/c-program-find-gcd-hcf-two-numbers/"target="_blank" rel="noopener noreferrer">Find GCD of Two Numbers</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/c-program-check-given-string-palindrome/"target="_blank" rel="noopener noreferrer">Check if a String is Palindrome</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="https://www.geeksforgeeks.org/programs-printing-pyramid-patterns-python/"target="_blank" rel="noopener noreferrer">Print Pattern</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="https://www.geeksforgeeks.org/write-a-c-program-to-calculate-powxn/"target="_blank" rel="noopener noreferrer">Calculate Power of a Number</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>11</td>
        <td><a href="https://www.geeksforgeeks.org/program-decimal-binary-conversion/"target="_blank" rel="noopener noreferrer">Convert Decimal to Binary</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>12</td>
        <td><a href="https://www.geeksforgeeks.org/program-to-find-lcm-of-two-numbers/"target="_blank" rel="noopener noreferrer">Find LCM of Two Numbers</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>13</td>
        <td><a href="https://www.geeksforgeeks.org/perfect-number/"target="_blank" rel="noopener noreferrer">Check Perfect Number</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>14</td>
        <td><a href="https://www.geeksforgeeks.org/print-all-prime-numbers-less-than-or-equal-to-n/"target="_blank" rel="noopener noreferrer">Print Prime Numbers in Range</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>15</td>
        <td><a href="https://www.geeksforgeeks.org/program-find-sum-digits-number/"target="_blank" rel="noopener noreferrer">Calculate Sum of Digits</a></td>
        <td>Easy</td>
    </tr>
{% endblock %}
