{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Trees and Graphs{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Binary Tree Traversals (Inorder, Preorder, Postorder)</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Level Order Traversal</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Height of Binary Tree</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Check if Binary Tree is BST</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Lowest Common Ancestor</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>6</td>
        <td>DFS and BFS Implementation</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Detect Cycle in Graph</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Shortest Path in Unweighted Graph</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Topological Sort</td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Minimum Spanning Tree</td>
        <td>Hard</td>
    </tr>
{% endblock %}