{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Linked Lists{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td>Reverse a Linked List</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Detect Loop in Linked List</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Find Middle of Linked List</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Remove Nth Node from End</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Merge Two Sorted Lists</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Add Two Numbers as Lists</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Intersection of Two Lists</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Palindrome Linked List</td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Remove Duplicates</td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Rotate List</td>
        <td>Medium</td>
    </tr>
{% endblock %}