{% extends "dsa/dsa_base.html" %}

{% block topic_title %}Greedy Algorithms{% endblock %}

{% block problems %}
    <tr>
        <td>1</td>
        <td><a href="https://www.geeksforgeeks.org/activity-selection-problem-greedy-algo-1/" target="_blank" rel="noopener noreferrer">Activity Selection</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.geeksforgeeks.org/fractional-knapsack-problem/" target="_blank" rel="noopener noreferrer">Fractional Knapsack</a></td>
        <td>Easy</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.geeksforgeeks.org/job-sequencing-problem/" target="_blank" rel="noopener noreferrer">Job Sequencing</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.geeksforgeeks.org/find-minimum-number-of-coins-that-make-a-change/" target="_blank" rel="noopener noreferrer">Minimum Coins</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.geeksforgeeks.org/huffman-coding-greedy-algo-3/" target="_blank" rel="noopener noreferrer">Huffman Coding</a></td>
        <td>Hard</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a href="https://www.geeksforgeeks.org/find-maximum-meetings-in-one-room/" target="_blank" rel="noopener noreferrer">Maximum Meetings in a Room</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a href="https://www.geeksforgeeks.org/gas-station-leetocde-134/" target="_blank" rel="noopener noreferrer">Gas Station</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.geeksforgeeks.org/minimum-number-of-jumps-to-reach-end-of-a-given-array/" target="_blank" rel="noopener noreferrer">Jump Game</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>9</td>
        <td><a href="https://www.geeksforgeeks.org/task-scheduling-problem/" target="_blank" rel="noopener noreferrer">Task Scheduler</a></td>
        <td>Medium</td>
    </tr>
    <tr>
        <td>10</td>
        <td><a href="https://www.geeksforgeeks.org/minimum-number-platforms-required-railwaybus-station/" target="_blank" rel="noopener noreferrer">Minimum Platforms</a></td>
        <td>Hard</td>
    </tr>
{% endblock %}
